.container{
    position: absolute;
    bottom: 83%;
    left: 5%;
}
.title{
    font-size: 1.2em;
    font-style: italic;
    transition:.6s;
	color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
}
select{
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    font-weight: 700;
    background: none;
    border: none;
    outline: none;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.option{
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    font-weight: 700;
    background: none;
    border: none;
    outline: none;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}