.card {
    height: 26rem;
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
     margin: auto;
    border-radius: 30px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
    font-family: 'Poppins',sans-serif;
    border-radius: 8%;
}
.image{
    height: 11rem;
    width: 14rem;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 20%;
    position: absolute;
    margin: 30px auto 20px  auto;
    left: 0;
    right: 0;
    top: 0%;

}
.link {
    display: inline-block;
	color: black;
    height: 15%;
    width: 40%;
	text-decoration: none;
	border-radius: 2rem;
	font-weight: 400;
    position: relative;
    top: 75%;
    left: 2%;
}
.temperaments{
    color: #000000;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.7px;
    margin: 5px 0;
    position: relative;
    top: 35%;
    left: 2%;
}
.weight{
    color: #080707;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 5px 0;
    position: relative;
    top: 35%;
    left: 2%;
}

.details{
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 5px 0;
    position: relative;
    top: 30%;
    left: 0%;
    display:inline;
}