.container{
    position: absolute;
    top: 14rem;
    left: 45%;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 1.2rem 1.2rem 1.2rem 5rem;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
}
.button{
    display: inline;
    position: relative;
    right: 15%;
    font-style: italic;
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
    background: none;
    border: none;
    outline: none;
    font-size: 1.0rem;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}