.container {
    display: inline-block;
    margin-top: 2rem;
    margin-left: 5rem;
    padding: 4rem;
    width: 60%;
    max-width: 40rem;
    background-color: rgba(199, 199, 199, 0.55);
    box-sizing: border-box;
    border-radius: 5rem;
    box-shadow:
      0 2px 4px 0 rgba(72, 72, 72, 0.83),
      0 10px 15px 0 rgba(126, 126, 126, 0.12),
      0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
      0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  }
  
  .button {
    position: relative;
    right: 13%;
    font-style: italic;
    text-transform: uppercase;
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
    font-weight: 700;
    background: none;
    border: none;
    outline: none;
    padding: 0.5rem 0.5rem 0.5rem 0.4rem;
    font-size: 0.9rem;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input {
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    margin: 1.4rem 0.4rem 0.2rem 0.4rem;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: snow;
  }
  
  .mainTitle {
    font-size: 1.4em;
    font-style: italic;
    font-weight: 900;
    transition: 0.6s;
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
    margin-top: -2rem;
  }
  
  .title {
    font-size: 1.2em;
    font-style: italic;
    transition: 0.6s;
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
  }
  
  .temptitle {
    margin-right: 65%;
    font-size: 1em;
    font-style: italic;
    transition: 0.6s;
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
  }
  
  .error {
    font-style: italic;
    font-weight: bolder;
    font-size: small;
    padding: -1rem -1rem -1rem -1rem;
    margin: 0.5rem -1rem -1rem -1rem;
  }
  
  .tempselect {
    font-size: 1.2em;
    font-style: italic;
    transition: 0.6s;
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
  }
  
  .temps {
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    margin: 1.4rem 0.4rem 0.2rem 0.4rem;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: black;
  }
  
  .tempcontainer {
    display: grid;
    position: relative;
    top: 0.2rem;
    left: -10rem;
    font-style: italic;
    font-weight: bolder;
    font-size: small;
    margin-left: 8rem;
    margin-right: 9rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .tempbutton {
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
    font-weight: 700;
    background: none;
    border: none;
    outline: none;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .containermodal {
    position: relative;
    top: 50rem;
    left: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    width: 60%;
    max-width: 40rem;
    background-color: rgba(199, 199, 199, 0.55);
    box-sizing: border-box;
    border-radius: 5rem;
    box-shadow:
      0 2px 4px 0 rgba(72, 72, 72, 0.83),
      0 10px 15px 0 rgba(126, 126, 126, 0.12),
      0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
      0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  }
  .containermodal {
    position: absolute;
  }
.modaltitle{
    position: relative;
    top: -1rem;
    left: -2rem;
    font-size: 1em;
    font-style: italic;
    transition:.6s;
	color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
}
.modalbutton{
    position: relative;
    background: none;
    border: none;
    outline: none;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    width: 2rem;
    height: 2rem;
    right: 1.8rem;
}
.response{
    font-size:1rem;
    font-style: italic;
    transition:.6s;
    color: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    text-shadow: 2px 2px 10px rgb(66, 66, 73);
}
.closemodal{
    background: none;
    border: none;
    outline: none;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    width: 2rem;
    height: 2rem;
}
.temperror{
    font-style: italic;
    font-weight: bolder;
    font-size: small;
    padding: -1rem -1rem -1rem -1rem;}